<html>
    <head>
        <title>Castello Sforzesco</title>
    </head>
    <body>
        <h1 class = testo >Castello Sforzesco</h1>
        <img src="{{url_for('static', filename='image/sforzesco.jpeg')}}" align="center" />
        <div class="linea">
            <div class="colonna">
              <img src="{{url_for('static', filename='image/persona.png')}}">
            </div>
            <div class="colonna">
              <img src="{{url_for('static', filename='image/persone.jpeg')}}">
            </div>
            <div class="colonna">
              <img src="{{url_for('static', filename='image/guida.jpeg')}}">
            </div>
          </div>
    </body>
</html>